*{ font-family:'Courier New', Courier, monospace;
}
    .a1 {
        color:blueviolet;
        font-size: 30px;
    }
    body {
    background-color:;
    }

    img{
        width: 50% !important
        height: auto !important
    }